@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight
    }

    .btn-primary{
        @apply bg-[#fa8340] text-indigo-900 
    }

    .btn-text{
        @apply border border-[#fa8340] text-[#4B0082] px-4 py-2 rounded-md hover:bg-[#FFA500] hover:text-white transition-all
    }

    .logo-ticker-image{
        @apply h-8 w-auto;

    }

    .tag{
        @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight
    }

    .section-title{
        @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text
    }

    .section-description{
        @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E]
    }

    .section-heading{
        @apply max-w-[540px] mx-auto
    }

    .card{
        @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
    }


    .contact{
        background-color: #D3D3FF;
        margin: 80px auto;
        max-width: 90%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    
    .con-col{
        flex-basis: 48%;
        color: #676767;
    
    }
    .con-col h3{
        font-weight: 500;
        color: #000F38;
        font-size: 25px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    
    }
    
    .con-col h3 img{
        width: 35px;
        margin-left: 10px;
        
        
    }
    
    .con-col p{
        max-width: 450px;
        line-height: 1.3;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    
    .con-col ul li{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    
    .con-col ul li img{
        width: 25px;
        margin-right: 10px;
        
    }
    
    .contact form input, .contact form textarea{
        display: block;
        width: 100%;
        background:#EBECFE;
        padding: 15px;
        border: 0;
        outline: 0;
        margin-bottom: 15px;
        margin-top: 5px;
        resize: none;
    }
    
    .con-col span{
        display: block;
        margin: 20px 0;
    }
    
    
    @media(max-width: 700px){
        .contact{
            display: block;
        }
        .con-col{
            padding: 20px;
        }
    
    }
    

    
}


  